<section class="section section--solutions" id="section-solutions">
    <div class="container text-center margin-bottom--80">
        <h2 class="section__title margin-bottom--50" data-aos="zoom-in">
            Take advantage of safe and convenient solutions
        </h2>
        <div class="row">
            <div class="col col-4 margin-bottom--60">
                <div class="feature__container" data-aos="fade-up" data-aos-delay="100">
                    <span class="icon icon__feature icon__feature--rocket margin-bottom--30"></span>
                    <h3 class="section__header text-font--20 margin-bottom--10">Quick transactions</h3>
                    <p>Four seconds is enough. Transfer of FuturoCoin is visible in payee’s wallet in no time! This is not a premium version. For us it is standard.</p>
                </div>
            </div>
            <div class="col col-4 margin-bottom--60" data-aos="fade-up" data-aos-delay="300">
                <div class="feature__container">
                    <span class="icon icon__feature icon__feature--double-spend margin-bottom--30"></span>
                    <h3 class="section__header text-font--20 margin-bottom--10">No way of double spend</h3>
                    <p>With FuturoCoin there is no fear of double spend of the same coin. We have system, which enables to take a look at all transactions in every minute. Each move, related to FuturoCoin are public and have only one, current history of transaction.</p>
                </div>
            </div>
            <div class="col col-4 margin-bottom--60" data-aos="fade-up" data-aos-delay="500">
                <div class="feature__container">
                    <span class="icon icon__feature icon__feature--fees margin-bottom--30"></span>
                    <h3 class="section__header text-font--20 margin-bottom--10">Fixed fees</h3>
                    <p>It doesn’t matter, whether you want to make transaction with 1 payee or up to 10 of them. You can do it instantly up to 10 payees within one fixed fee - and you don’t have to wait for confirmations.</p>
                </div>
            </div>
        </div>
    </div>
</section>