<section class="section section--negative section--negative-light section--shadow">
    <div class="container text-center">
        <h2 class="section__title margin-bottom--50" data-aos="zoom-in">Market performance</h2>
        <div class="flex-column flex-inline">
{#            <div class="tabs">
                <ul class="tabs__switch margin-bottom--30">
                    <li class="tabs__switch-item tabs__switch-item--active">Average</li>
                    <li class="tabs__switch-item">Yobit</li>
                    <li class="tabs__switch-item">Piyasa</li>
                </ul>
            </div>#}

            {% include 'partials/chart.njk' %}
        </div>
    </div>
    <div class="container container--small text-center">
        <div class="row">
            <div class="col col-6 margin-bottom--30" data-aos="fade-up" data-aos-delay="400">
                <p class="margin-bottom--10">FTO price today</p>
                <p class="price text-font--48" data-fto-price>$0.00</p>
                <p>USD</p>
            </div>
            <div class="col col-6 margin-bottom--30" data-aos="fade-up" data-aos-delay="600">
                <p class="margin-bottom--10">FTO Volume</p>
                <p class="price text-font--48" data-fto-volume>$0.00</p>
                <p>USD</p>
            </div>
        </div>
{#
        <div data-aos="zoom-in" data-aos-delay="800">
            <button class="button margin-bottom--50">Trade FuturoCoin</button>
        </div>
#}
    </div>
    <div class="container text-center">
        <p class="margin-bottom--50 text-font--18" data-aos="zoom-in" data-aos-delay="1000">You can currently trade FTO in those exchanges:</p>
        <div class="flex-row flex-space-between flex--items-center margin-bottom--50 currency-logos">
            <div><img src="./images/logo/yobit.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="1150"></div>
            <div><img src="./images/logo/piyasa.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="1200"></div>
            <div><img src="./images/logo/coindeal.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="1250"></div>
            <div><img src="./images/logo/bitbay.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="1300"></div>
{#
            <div><img src="./images/logo/bitso.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="1200"></div>
            <div><img src="./images/logo/kraken.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="1250"></div>
            <div><img src="./images/logo/coinone.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="1300"></div>
            <div><img src="./images/logo/bitstamp.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="1350"></div>
#}
        </div>
    </div>
</section>