<section class="section">
    <div class="container container--small">
        <h2 class="section__title margin-bottom--50 text-center" data-aos="zoom-in">Stay informed with FuturoCoin</h2>
        <form action="/" method="post" class="form margin-bottom--80 data-parsley-validate js-newsletter-form">
            <div class="row margin-bottom--30">
                <div class="col col-4 margin-bottom-md-down--20">
                    <input type="text" name="firstName" placeholder="First name" class="form__input" required data-aos="fade-up" data-aos-delay="200">
                </div>

                <div class="col col-4 margin-bottom-md-down--20">
                    <input type="text" name="lastName" placeholder="Last name" class="form__input" required data-aos="fade-up" data-aos-delay="300">
                </div>

                <div class="col col-4">
                    <input type="email" name="email" placeholder="E-mail address" class="form__input" data-parsley-trigger="change" required="" data-aos="fade-up" data-aos-delay="400">
                </div>
            </div>
            <div class="margin-bottom--20" data-aos="fade-up" data-aos-delay="500">
                <input type="checkbox" name="marketingAgreement" class="form__checkbox" id="form-marketingAgreement" required>
                <label for="form-marketingAgreement" class="form__checkbox-label">I would like to receive commercial and marketing information from FutureNet Ltd elecetronically to the above mentioned email</label>
            </div>
            <div class="margin-bottom--20" data-aos="fade-up" data-aos-delay="600">
                <input type="checkbox" name="processingPersonalDataAgreement" class="form__checkbox" id="form-processingPersonalDataAgreement" required>
                <label for="form-processingPersonalDataAgreement" class="form__checkbox-label">I agree to the processing of my personal data by FutureNet Ltd for marketing puproses</label>
            </div>
            <div class="flex-row flex-space-between flex--items-center" data-aos="fade-up" data-aos-delay="700">
                <p class="text-font--14">All fields mandatory</p>
                <input type="submit" class="button js-newsletter-form--signUp" value="Sign up">
            </div>
        </form>
    </div>
</section>