<section class="section" id="section-news">
    <div class="container news js-news">
        <h2 class="section__title margin-bottom--50 text-center" data-aos="zoom-in">What’s new?</h2>
        <div class="row margin-bottom--20">
            <div class="col col-4 news__item-col margin-bottom-md-down--20">
                <a href="https://newsroom.futurocoin.com/futurocoin-on-first-cryptocurrency-exchange/" class="news__item" data-aos="fade-up" data-aos-delay="100" target="_blank">
                    <img src="./files/news/news6.jpg?v={{ config.assetsVersion }}" alt="" class="news__image">
                </a>
                <div class="news__text-container" data-aos="fade-left" data-aos-delay="500">
                    <h4 class="news__title">FuturoCoin on Piyasa.net</h4>
                    <p class="text-font--12 margin-bottom--30">By Futurenet on 7 Feb 2018</p>
                    <p class="margin-bottom--20">Piyasa.NET  – the next place, where FuturoCoin was officially listed. On 2nd March, Piyasa implemented FTO on its site.</p>
                    <a href="https://newsroom.futurocoin.com/futurocoin-on-first-cryptocurrency-exchange/" class="text-font-14 link" target="_blank">Read more</a>
                </div>
            </div>

            <div class="col col-4 news__item-col">
                <a href="https://newsroom.futurocoin.com/futuro-core-1-0-2-0-upgrade/" class="news__item" data-aos="fade-up" data-aos-delay="300" target="_blank">
                    <img src="./files/news/news5.png?v={{ config.assetsVersion }}" alt="" class="news__image">
                </a>
                <div class="news__text-container" data-aos="fade-left" data-aos-delay="500">
                    <h4 class="news__title">Futuro Core 1.0.2.0 upgrade</h4>
                    <p class="text-font--12 margin-bottom--30">By Futurenet on 7 Feb 2018</p>
                    <p class="margin-bottom--20">A new version of FuturoCoin wallet has been prepared. It contains very important upgrade related to core functionality.</p>
                    <a href="https://newsroom.futurocoin.com/futuro-core-1-0-2-0-upgrade/" class="text-font-14 link" target="_blank">Read more</a>
                </div>
            </div>

            <div class="col col-4 news__item-col">
                <a href="https://newsroom.futurocoin.com/futurocoin-on-first-cryptocurrency-exchange/" class="news__item" data-aos="fade-up" data-aos-delay="300" target="_blank">
                    <img src="./files/news/news4.png?v={{ config.assetsVersion }}" alt="" class="news__image">
                </a>
                <div class="news__text-container" data-aos="fade-left" data-aos-delay="500">
                    <h4 class="news__title">FuturoCoin on first cryptocurrency exchange</h4>
                    <p class="text-font--12 margin-bottom--30">By Futurenet on 7 Feb 2018</p>
                    <p class="margin-bottom--20">FuturoCoin has been listed on first cryptocurrency exchange market. YoBit.net as the first exchange has put FTO on its site</p>
                    <a href="https://newsroom.futurocoin.com/futurocoin-on-first-cryptocurrency-exchange/" class="text-font-14 link" target="_blank">Read more</a>
                </div>
            </div>
        </div>

        <div class="news__more-container js-news--more-container">
            <div class="row margin-bottom--60">
                <div class="col col-4 news__item-col">
                    <a href="https://newsroom.futurocoin.com/futurocoin-p2ppool/" class="news__item" data-aos="fade-up" data-aos-delay="100" target="_blank">
                        <img src="./files/news/news3.png?v={{ config.assetsVersion }}" alt="" class="news__image">
                    </a>
                    <div class="news__text-container">
                        <h4 class="news__title">FuturoCoin P2Ppool.</h4>
                        <p class="text-font--12 margin-bottom--30">By Futurenet on 6 Feb 2018 Mining</p>
                        <p class="margin-bottom--20">We are glad to inform that you can mine FuturoCoin in our pool (unofficial). All that is needed is to configure your miner to point to our P2Pool node.</p>
                        <a href="https://newsroom.futurocoin.com/futurocoin-p2ppool/" class="text-font-14 link" target="_blank">Read more</a>
                    </div>
                </div>

                <div class="col col-4 news__item-col margin-bottom-md-down--20">
                    <a href="https://newsroom.futurocoin.com/what-is-mining/" class="news__item" target="_blank">
                        <img src="./files/news/news2.jpg?v={{ config.assetsVersion }}" alt="" class="news__image">
                    </a>
                    <div class="news__text-container">
                        <h4 class="news__title">What is mining?</h4>
                        <p class="text-font--12 margin-bottom--30">By Futurenet on 6 Feb 2018 Mining</p>
                        <p class="margin-bottom--20">Mining is the most crucial and responsible part of any blockchain-based network, in which the consensus algorithm is Proof of Work (PoW).</p>
                        <a href="https://newsroom.futurocoin.com/what-is-mining/" class="text-font-14 link" target="_blank">Read more</a>
                    </div>
                </div>

                <div class="col col-4 news__item-col">
                    <a href="https://newsroom.futurocoin.com/the-premiere-of-the-futurocoin-cryptocurrency/" class="news__item" target="_blank">
                        <img src="./files/news/news1.jpg?v={{ config.assetsVersion }}" alt="" class="news__image">
                    </a>
                    <div class="news__text-container">
                        <h4 class="news__title">The premiere of the FuturoCoin cryptocurrency</h4>
                        <p class="text-font--12 margin-bottom--30">By Futurenet on 6 Feb 2018 Mining</p>
                        <p class="margin-bottom--20">At the end of January, FuturoCoin (FTO) joins the worldwide group of cryptocurrencies. Its launch was announced a few months ago.</p>
                        <a href="https://newsroom.futurocoin.com/the-premiere-of-the-futurocoin-cryptocurrency/" class="text-font-14 link" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center margin-bottom--60" data-aos="fade-up" data-aos-delay="700">
            <button class="button news__more-button js-news--button-more">More news</button>
        </div>
    </div>
</section>