<section class="section section--negative">
    <div class="container text-center">
        <h2 class="section__title margin-bottom--50" data-aos="zoom-in">Sites accepting FuturoCoin</h2>
        <div class="flex-row flex--items-center flex-center margin-bottom--50 partners-logos">
            <div><img src="./images/partners/future-net-color.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="200"></div>
            <div><img src="./images/partners/bitcoin-api-color.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="300"></div>
            <div><img src="./images/partners/24-bas-color.png?v={{ config.assetsVersion }}" alt="" data-aos="zoom-in" data-aos-delay="400"></div>
        </div>
    </div>
</section>