<section class="section section--negative section--negative-light" id="section-wallet">
    <div class="container text-center">
        <h2 class="section__title margin-bottom--50" data-aos="zoom-in">Safe wallet, safe money</h2>
        <p class="margin-bottom--30" data-aos="zoom-in" data-aos-delay="200">Take care of safety of your FuturoCoins. Keep your money in decentralised wallet, which we designed for you.</p>
        <div class="margin-bottom--80" data-aos="zoom-in" data-aos-delay="300">
            <a href="https://github.com/futuro-coin/Futuro-binaries" class="button margin-bottom--20" target="_blank">Download wallet</a>
            <br>
            <img src="./images/logo/github.png?v={{ config.assetsVersion }}" alt="">
        </div>
        <div class="img-container">
            <img src="./images/bg/desktop-bg.png?v={{ config.assetsVersion }}" alt="" data-aos="fade-in" data-aos-delay="600">
        </div>
    </div>
</section>