<section class="slider section">
    <div class="slider__particles" id="particles-js"></div>
    <div class="slider__particles-cover"></div>
    <div class="container container--small text-center">
        <h2 class="section__title margin-bottom--30" data-aos="zoom-in" data-aos-delay="100">
            FuturoCoin is a cryptocurrency which combines proven solutions with innovative technology
        </h2>
        <p class="text-font--20 margin-bottom--50" data-aos="zoom-in" data-aos-delay="300">
            Let’s see, why is it worthy to have FuturoCoin in your wallet
        </p>
        <div data-aos="zoom-in" data-aos-delay="500">
            <a href="#section-solutions" class="button js-smooth-scroll-to">Get to know more</a>
        </div>
    </div>
    <div class="slider__scroll">
        <a href="#section-solutions" class="slider__scroll-icon icon icon__scroll js-smooth-scroll-to"></a>
        <span class="text-font--12 text-uppercase">KEEP SCROLLING</span>
    </div>
</section>