{#<section class="section team">
    <div class="container container--small text-center">
        <h2 class="section__title margin-bottom--80" data-aos="zoom-in">Team of Futuro</h2>
        <div class="row margin-bottom--80">
            <div class="col col-6 margin-bottom-md-down--50">
                <img src="./images/team/stephen-morgenstern.png" alt="Stephen Morgenstern" class="margin-bottom--20" data-aos="fade-right" data-aos-delay="200">
                <div data-aos="fade-right" data-aos-delay="400">
                    <h4 class="section__header text-font--24">Stephen Morgenstern</h4>
                    <p class="text-font--14">CEO &amp; Founder</p>
                </div>
            </div>
            <div class="col col-6">
                <img src="./images/team/roman-ziemian.png" alt="Roman Ziemian" class="margin-bottom--20" data-aos="fade-left" data-aos-delay="300">
                <div data-aos="fade-left" data-aos-delay="500">
                    <h4 class="section__header text-font--24">Roman Ziemian</h4>
                    <p class="text-font--14">CEO &amp; Founder</p>
                </div>
            </div>
        </div>
    </div>
</section>#}
