<section class="section">
    <div class="container">
        <h2 class="section__title margin-bottom--50 text-center" data-aos="zoom-in">FuturoCoin timeline</h2>

        <ul class="timeline margin-bottom--60">
            <li class="timeline__item" data-aos="fade-right" data-aos-delay="200">
                <img src="./images/timeline/box.svg?v={{ config.assetsVersion }}" alt="" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Wallet available to all users</h3>
                <p class="text-font--14 margin-bottom--20">A mobile wallet dedicated to FuturoCoin. If you want to keep your coins safe and always near you, download the app!</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>
            <li class="timeline__item timeline__item--even" data-aos="fade-left" data-aos-delay="400">
                <img src="./images/timeline/phone-ic.svg?v={{ config.assetsVersion }}" alt="" class="margin-bottom--30" style="margin-right: -36px;">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">CoinOFF Mine game goes live</h3>
                <p class="text-font--14 margin-bottom--20">CoinOFF Mine is a mobile game that uses AR technology. Go out and explore the world to find FuturoCoins. Fight with opponents to be rewarded with a bigger amount of cryptocurrency, which you can send to your wallet. You can also upgrade your weapon and tools. Mining FuturoCoin in the real world!</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>

            <li class="timeline__item" data-aos="fade-right" data-aos-delay="300">
                <img src="./images/timeline/explorer.svg?v={{ config.assetsVersion }}" alt="" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Blockchain Explorer</h3>
                <p class="text-font--14 margin-bottom--20">Block Explorer is a web tool that provides information about FuturoCoin blocks, addresses, and transactions which were made. It will help you check current block and provide insight into the flow of transactions.</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>
            <li class="timeline__item timeline__item--even" data-aos="fade-left" data-aos-delay="500">
                <img src="./images/timeline/logo-circle.svg?v={{ config.assetsVersion }}" alt="" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FTO traded on Coindeal Exchange</h3>
                <p class="text-font--14 margin-bottom--20">In the interest of availability of FuturoCoin on cryptocurrency exchange platforms, we want to inform you, that you can trade FTO on CoinDeal.</p>
                <a href="https://coindeal.com/" class="text-font--14 link" target="_blank">Go to coindeal.com and start trading</a>
            </li>

            <li class="timeline__item" data-aos="fade-right" data-aos-delay="400">
                <img src="./images/timeline/bitcoin.svg?v={{ config.assetsVersion }}" alt="" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FTO added to Bitcoin API</h3>
                <p class="text-font--14 margin-bottom--20">If you have an online shop and want to accept payments in cryptocurrencies, especially in FuturoCoin - here comes the solution. FuturoCoin is added to Bitcoin API, thanks to which you can pay and receive the payment in the online shop with implemented API.</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>
            <li class="timeline__item timeline__item--even" data-aos="fade-left" data-aos-delay="600">
                <img src="./images/timeline/futurodice.svg?v={{ config.assetsVersion }}" alt="" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoDice premieres</h3>
                <p class="text-font--14 margin-bottom--20">Check your luck and try FuturoDice. Register and start gambling to win more cryptocurrencies, not only FuturoCoin.</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>

            <li class="timeline__item" data-aos="fade-right" data-aos-delay="500">
                <img src="./images/logo/bitbay-timeline.png?v={{ config.assetsVersion }}" alt="" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FTO traded on BitBay</h3>
                <p class="text-font--14 margin-bottom--20">Start trading FuturoCoin on BitBay, one of the most popular cryptocurrency exchange platforms. We are still expanding our coin activity to simplify the start of using it.</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>
            <li class="timeline__item timeline__item--even" data-aos="fade-left" data-aos-delay="700">
                <img src="./images/timeline/webinar.svg?v={{ config.assetsVersion }}" alt="" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Webinar with FuturoCoin founders</h3>
                <p class="text-font--14 margin-bottom--20">During a webinar with FuturoCoin’s founders, Stephen and Roman will talk about development directions, plans and the future of FuturoCoin. Something you don’t want to miss!</p>
                {#<a href="" class="text-font--14 link">Go to coindeal.com and start trading</a>#}
            </li>
        </ul>
    </div>
</section>