<section class="section trailer">
    <div class="trailer__container">
        <div class="trailer__play-wrapper" data-aos="zoom-in" data-aos-delay="300">
            <div class="img-container">
                <img src="./files/trailers/trailer1.jpg?v={{ config.assetsVersion }}" alt="">
            </div>
            <a href="https://www.youtube.com/watch?v=T39xYWJmAU8" class="trailer__play" data-fancybox>
                <span class="icon icon__play"></span>
                {#<span class="text-font--12">PLAY TRAILER</span>#}
            </a>
        </div>

        <div class="trailer__play-wrapper">
            <div class="img-container">
                <img src="./files/trailers/trailer1.jpg?v={{ config.assetsVersion }}" alt="">
            </div>
            <a href="https://www.youtube.com/watch?v=T39xYWJmAU8" class="trailer__play" data-fancybox>
                <span class="icon icon__play"></span>
                {#<span class="text-font--12">PLAY TRAILER</span>#}
            </a>
        </div>

        <div class="trailer__play-wrapper">
            <div class="img-container">
                <img src="./files/trailers/trailer1.jpg?v={{ config.assetsVersion }}" alt="">
            </div>
            <a href="https://www.youtube.com/watch?v=T39xYWJmAU8" class="trailer__play" data-fancybox>
                <span class="icon icon__play"></span>
                {#<span class="text-font--12">PLAY TRAILER</span>#}
            </a>
        </div>
    </div>

    <span class="trailer__nav trailer__nav--prev">
        <span class="icon icon__arrow icon__arrow--left js-trailer--prev"></span>
    </span>
    <span class="trailer__nav trailer__nav--next">
        <span class="icon icon__arrow icon__arrow--right js-trailer--next"></span>
    </span>
</section>