<section class="section section--negative section--negative-light section--shadow">
    <div class="container text-center">
        <h2 class="section__title section__title--large margin-bottom--50" data-aos="zoom-in">Check FuturoCoin's white paper</h2>
        <div class="papers-bg">
            <div data-aos="zoom-in" data-aos-delay="700">
                <span class="icon icon__feature icon__feature--whitepaper margin-bottom--30"></span><br>
                <a href="https://futurocoin.com/download/FuturoCoin-white-paper-en-31.01.18.pdf" class="button button--alternate" target="_blank">Check whitepaper</a>
            </div>
        </div>
    </div>
</section>


