<div class="chart margin-bottom--30" data-aos="fade-up" data-aos-delay="200">
    <img src="./files/graph-average.png?v={{ config.assetsVersion }}" alt="" class="chart__image">
    <canvas id="market-performance-chart" class="chart__canvas"></canvas>
</div>
