<section class="footer">
    <a href="./" title="FuturoCoin" class="footer__logo">
        <img src="./images/fto-logo.svg?v={{ config.assetsVersion }}" alt="FuturoCoin" class="footer__logo-image" />
    </a>

    <div class="footer__content container--small">
        <ul class="nav nav--slim">
            <li class="nav__item nav__item--copyright">
                © 2018 FuturoCoin, All Rights Reserved.
            </li>
{#            <li class="nav__item">
                <a href="#section-solutions" class="nav__link js-smooth-scroll-to">Terms</a>
            </li>
            <li class="nav__item">
                <a href="#section-explorer" class="nav__link js-smooth-scroll-to">Privacy</a>
            </li>#}
        </ul>
    </div>

    <ul class="footer__icons social">
        <li class="social__item">
            <a href="https://www.facebook.com/FuturoCoin/" class="social__link" target="_blank"><span class="icon icon__social icon__social--fb"></span></a>
        </li>
        <li class="social__item">
            <a href="https://twitter.com/FuturoFTO" class="social__link" target="_blank"><span class="icon icon__social icon__social--tt"></span></a>
        </li>
{#
        <li class="social__item">
            <a href="" class="social__link" target="_blank"><span class="icon icon__social icon__social--yt"></span></a>
        </li>
#}
        <li class="social__item">
            <a href="https://t.me/FuturoCoinOfficial" class="social__link" target="_blank"><span class="icon icon__social icon__social--tg"></span></a>
        </li>
{#        <li class="social__item">
            <a href="" class="social__link" target="_blank"><span class="icon icon__social icon__social--vk"></span></a>
        </li>#}
        <li class="social__item">
            <a href="https://www.reddit.com/user/FuturoFTO/" class="social__link" target="_blank"><span class="icon icon__social icon__social--rd"></span></a>
        </li>
{#
        <li class="social__item">
            <a href="" class="social__link" target="_blank"><span class="icon icon__social icon__social--we"></span></a>
        </li>
#}
    </ul>
</section>