<nav class="header js-header js-mobile-nav--container">
    <a href="./" title="FuturoCoin" class="header__logo">
        <img src="./images/fto-logo.svg?v={{ config.assetsVersion }}" alt="FuturoCoin" class="header__logo-image" />
    </a>
    <span class="hamburger js-mobile-nav--switch">
        <span></span>
        <span></span>
        <span></span>
    </span>
    <ul class="nav header__content js-mobile-nav--nav">
        <li class="nav__item">
            <a href="#section-wallet" class="nav__link js-smooth-scroll-to">Wallet</a>
        </li>
        <li class="nav__item">
            <a href="#section-solutions" class="nav__link js-smooth-scroll-to">Solutions</a>
        </li>
        <li class="nav__item">
            <a href="https://explorer.futurocoin.com/insight/" class="nav__link" target="_blank">Explorer</a>
        </li>
        <li class="nav__item">
            <a href="#section-news" class="nav__link js-smooth-scroll-to">Newsroom</a>
        </li>
    </ul>
</nav>