.chart {
    position: relative;
    height: 275px;

    &__canvas {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__image {
        visibility: hidden;
    }
}