.feature__container {
    padding-left: 45px;
    padding-right: 45px;

    @include media-breakpoint-down(xl) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.img-container {
    font-size: 0;
}

.team {
    position: relative;
    background: #0c9acf;
    &::before {
        @include cover-absolute;
        @include parallax(url(../images/bg/people.png?v=#{$assetsVersion}));
        mix-blend-mode: screen;
        transform: scale(1.1);
    }
}

.price {
    color: $price;
}

.currency-logos {
    > * {
        flex: 1 1 30%;
        width: auto;
    }

    @include media-breakpoint-down(lg) {
        flex-flow: row wrap;
        justify-content: space-between;

        > * {
            flex: 1 0 25%;
            padding: 0 10px;
            margin: 0 0 10px 0;
        }
    }

    @include media-breakpoint-down(md) {
        flex-flow: column;
        > * {
            flex: 1 1 auto;
            padding: 0;
        }
    }
}

.partners-logos {
    > * {
        padding: 0 30px;
    }
}

.papers-bg {
    background: url(../images/bg/whitepaper-bg.png) 50% 100% no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}