.footer {
    background: $bg-primary;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px 45px;
    position: relative;

    &__logo,
    &__logo-image {
        flex: 0 0 auto;
        display: block;
    }

    &__content {
        flex: 0 1 auto;
        margin-left: auto;
        margin-right: auto;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 45px;
        width: calc(100% - 90px);
        height: 1px;
        background: #c7e5f1;
        opacity: 0.2;
    }

    @include media-breakpoint-down(xl) {
        flex-flow: row wrap;
        align-items: flex-start;

        &__content {
            margin-right: 0;
            padding-right: 0;
            width: auto;
        }

        &__icons {
            width: 100%;
            margin-top: -40px;
            justify-content: flex-end;
        }

        .nav {
            justify-content: flex-end;

            &__item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        flex-flow: column;
        align-items: center;

        &__content {
            margin: 20px 0 20px 0;
            padding-left: 0;
        }

        &__icons {
            margin-top: 0;
            justify-content: center;
        }
    }

    @include media-breakpoint-down(md) {
        padding-left: 10px;
        padding-right: 10px;

        &::before {
            width: calc(100% - 20px);
            left: 10px;
        }

        .nav {
            flex-flow: row wrap;
            justify-content: center;

            &__item {
                &--copyright {
                    width: 100%;
                    margin: 0 0 10px 0;
                    text-align: center;
                }
            }
        }
    }
}