.header {
    $h: &;

    background: $bg-primary;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: $transition-time;

    &__logo,
    &__logo-image {
        flex: 0 0 auto;
        display: block;
    }

    &__content {
    }


    @include media-breakpoint-up(lg) {
        .nav {
            display: flex !important;
        }

        &--slim {
            padding: 10px 22px;

            #{$h}__logo-image {
                height: 46px;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        position: relative;

        .nav {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 100;
            display: none;

            &__item {
                width: 100%;
                margin: 0;
                background: #fff;
            }

            &__link {
                display: block;
                position: relative;
                padding: 18px 45px 18px 25px;
                text-align: right;
                opacity: 1;
                color: #969696;
                border-bottom: 1px solid #edecec;
                font-family: Arial;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &__logo {
            max-width: calc(100% - 60px);
        }
    }
}

