.nav {
    $block: &;

    font-size: 16px;
    color: $txt-primary;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    &__item {
        margin: 0 100px 0 0;
        &:last-child {
            margin-right: 0;
        }

        &--copyright {
            opacity: 0.8;
        }
    }

    &__link {
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }

    &--slim {
        #{$block}__item {
            margin-right: 30px;
        }
    }
}

