.slider {
    //height: calc(100vh - 126px);
    min-height: calc(100vh - 126px);
    text-align: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;

    &::before {
        @include cover-absolute;
        background: url(../images/bg/slider.jpg?v=#{$assetsVersion}) 50% 0 no-repeat;
        background-size: cover;
        mix-blend-mode: lighten;
    }

    &__scroll {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        &-icon {
            animation: pulse 2s infinite;
            margin-bottom: 20px;
        }
    }

    &__particles {
        @include cover-absolute();
        top: auto;
        height: 100%;
        bottom: 0;
    }

    &__particles-cover {
        @include cover-absolute();
        position: absolute;
        height: 100%;
        background: #333;
        background: linear-gradient(to bottom, rgba(27, 89, 157 , 1) 30%, rgba(27, 89, 157, 0) 70%, rgba(27, 89, 157 , 1));
    }

    @include media-breakpoint-down(lg) {
        height: auto;
        padding-top: 20px;
    }
}