.social {
    display: flex;
    flex-flow: row nowrap;

    &__item {
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        padding: 10px;
    }
}

