.tabs {
    &__switch {
        display: flex;
        flex-flow: row nowrap;
    }

    &__switch-item {
        margin: 0 20px;
        cursor: pointer;

        &--active {
            font-weight: 500;
            color: $mark;
        }

        &:hover {
            color: $mark;
        }
    }
}