.timeline {
    $t: &;

    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding-bottom: 80px;

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: calc(100% - 60px);
        top: 30px;
        left: calc(50% - 1px);
        background: #64bee0;
        opacity: 0.5;
    }

    &__item {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: 50%;
        padding: 0 115px 0 0;
        margin: 0 0 100px 0;

        &--even {
            padding: 0 0 0 115px;
            align-items: flex-end;
            text-align: right;
            margin: 100px 0 0 0;

            #{$t}__title {
                &::after {
                    left: auto;
                    right: 100%;
                }
            }
        }
    }

    &__title {
        color: $header-neg;
        font-weight: 500;
        line-height: 1.3;
        width: 100%;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 17px;
            left: 100%;
            width: 100px;
            height: 1px;
            background: #64bee0;
            opacity: 0.5;
        }
    }

    @include media-breakpoint-down(lg) {
        &__item {
            padding-right: 30px;

            &--even {
                padding-left: 30px;
                padding-right: 0;

                #{$t}__title {
                    &::after {
                        margin-left: auto;
                        margin-right: 10px;
                    }
                }
            }
        }

        &__title {
            &::after {
                width: 20px;
                margin-left: 10px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 0;

        &::after {
            display: none;
        }

        &__item {
            width: 100%;
            padding: 0;
            margin-bottom: 60px;

            &--even {
                margin-top: 0;
                text-align: left;
                align-items: flex-start;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__title {
            &::after {
                display: none;
            }
        }
    }
}