.trailer {
    padding: 0;
    position: relative;

    &__nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &--prev {
            float: left;
            left: 70px;
        }

        &--next {
            right: 70px;
            float: right;
        }
    }

    &__play-wrapper {
        position: relative;
    }

    &__play {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        cursor: pointer;
        z-index: 5;
    }

    &__container {
        img {
            width: 100%;
        }
    }

    @include media-breakpoint-down(md) {
        &__nav {
            display: none;
        }

        &__container {
            img {
                height: 250px;
                width: 100%;
            }
        }
    }
}