@keyframes pulse {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

[data-aos=zoom-in] {
    transform: scale(.9);
}

[data-aos=fade-down] {
    transform: translateY(-30px);
}

[data-aos=fade-up] {
    transform: translateY(30px);
}

[data-aos=fade-right] {
    transform: translateX(-30px);
}

[data-aos=fade-left] {
    transform: translateX(30px);
}