@font-face {
  font-family: 'BasierSquare';
  src: url('../fonts/BasierSquare-Regular.otf')  format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'BasierSquare';
  src: url('../fonts/BasierSquare-Medium.otf')  format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DINPro-Medium.otf')  format('opentype');
  font-style: normal;
  font-weight: 400;
}



