.button {
    font-family: 'DinPro';
    letter-spacing: 1px;
    display: inline-flex;
    height: 50px;
    font-size: 14px;
    color: $button-txt;
    background: $button;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 0 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(151, 151, 151, 0.22);
    cursor: pointer;
    transition: $transition-time;
    align-items: center;

    &:hover {
        background: $button-hover;
    }

    &--alternate {
        background: $button-hover;

        &:hover {
            background: $button;
        }
    }
}


.form {
    &__input {
        font-size: 16px;
        font-family: 'BasierSquare';
        height: 50px;
        color: $input-color;
        background: $input-bg;
        border-radius: 3px;
        border: 1px solid $input-border-color;
        @include placeholder($input-placeholder-color);
        font-weight: 400;
        padding: 15px 20px;
        outline: none;
        width: 100%;

        &:focus {
            padding: 15px 19px;
            border: 2px solid $input-border-color-active;
            background-color: $input-bg-active;
        }
    }

    &__checkbox {
        $checkbox: &;
        display: none;

        &-label {
            position: relative;
            font-size: 14px;
            color: $txt-secondary;
            padding-left: 35px;
            display: inline-block;
            transition: $transition-time;
            &::before {
                content: '';
                width: 18px;
                height: 18px;
                border-radius: 3px;
                border: 2px solid #578899;
                position: absolute;
                top: -3px;
                left: 0;
                transition: $transition-time;
            }
            &::after {
                content: '';
                width: 22px;
                height: 22px;
                position: absolute;
                top: -3px;
                left: 0;
                background: url(../images/icon/tick.svg?v=#{$assetsVersion}) 50% 50% no-repeat;
                opacity: 0;
                transition: $transition-time;
            }
        }

        &:checked {
            ~ #{$checkbox}-label {
                color: $txt-primary;
                &::before {
                    border-color: #abe7ff;

                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}


.parsley-error {
    // border-color: $input-error-border-color !important;
    // color: $input-error-color !important;
}

.parsley-errors-list {
    font-size: 14px;
    color: $input-error-color;
    margin-top: 5px;
}

div.parsley-error + .parsley-errors-list {
    margin-top: -20px;
    margin-bottom: 20px;
    padding-left: 35px;
}

