body {
    font-size: 16px;
    color: #333;
    line-height: 1.3;
    background: $bg-neg;
    font-family: 'BasierSquare';
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: $transition-time;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: 700;
}

sup {
    font-size: 50%;
    vertical-align: text-top;
}

.link {
    color: $link;

    &:hover {
        opacity: 0.7;
    }
}

