$social: fb tg tt vk we yt;
$social-png: rd;

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &__social {
        display: inline-flex;
        width: 16px;
        height: 16px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        @each $icon in $social {
            &--#{$icon} {
                background-image: url(../images/social/#{$icon}.svg?v=#{$assetsVersion});
            }
        }

        @each $icon in $social-png {
            &--#{$icon} {
                background-image: url(../images/social/#{$icon}.png?v=#{$assetsVersion});
            }
        }
    }

    &__scroll {
        width: 38px;
        height: 38px;
        background: rgba(1, 152, 208, 0.5);
        border-radius: 50%;
        &::after {
            content: '';
            width: 16px;
            height: 21px;
            background: url(../images/icon/arrowdown.svg?v=#{$assetsVersion}) 0 0 no-repeat;
        }
    }

    &__arrow {
        background: transparent;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        border: 3px solid #fff;
        transition: $transition-time;

        &:hover {
            opacity: 0.8;
        }

        &::after {
            content: '';
            width: 17px;
            height: 32px;
            background: url(../images/icon/arrow-right.png?v=#{$assetsVersion}) 0 0 no-repeat;
        }

        &--left {
            transform: rotate(180deg);
            &::after {
            }
        }

        &--right {
            &::after {
            }
        }
    }

    &__play {
        background: transparent;
        width: 100px;
        height: 100px;
        transition: $transition-time;

        &:hover {
            opacity: 0.8;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: url(../images/icon/play-button.png?v=#{$assetsVersion}) 0 0 no-repeat;
        }
    }

    &__feature {
        width: 110px;
        height: 110px;

        &::after {
            content: '';
            display: block;
            width: 90px;
            height: 86px;
        }

        &--rocket {
            &::after {
                background: url(../images/feature/rocket.png?v=#{$assetsVersion}) 0 0 no-repeat;
            }
        }

        &--double-spend {
            &::after {
                background: url(../images/feature/double-spend.png?v=#{$assetsVersion}) 0 0 no-repeat;
            }
        }

        &--fees {
            &::after {
                background: url(../images/feature/fees.png?v=#{$assetsVersion}) 0 0 no-repeat;
            }
        }

        &--whitepaper {
            width: 46px;
            height: 58px !important;
            &::after {
                width: 100%;
                height: 100%;
                background: url(../images/feature/whitepaper.png?v=#{$assetsVersion}) 0 0 no-repeat;
                background-size: cover;
            }
        }
    }
}