@mixin placeholder ($color) {
    &::-webkit-input-placeholder {
        color: $color !important;
    }
    &::-moz-placeholder {
        color: $color !important;
    }
    &:-ms-input-placeholder {
        color: $color !important;
    }
    &:-moz-placeholder {
        color: $color !important;
    }
}

@mixin flex-spacebetween {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-flow: column nowrap;
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    @media (max-width: map_get($breakpoints, $name) - 1) {
        @content;
    }
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    @media (min-width: map_get($breakpoints, $name)) {
        @content;
    }
}

@mixin cover-absolute() {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin parallax($image, $scale: 1.1){
    background: $image 50% 50% no-repeat;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
    transform: scale($scale);
}