$font-size: 12 14 16 18 20 24 36 48;

.text {
    @each $size in $font-size {
        &-font {
            &--#{$size} {
                font-size: #{$size}px;
            }
        }
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--bold {
        font-weight: 700;
    }

    &--black {
        font-weight: 900;
    }

    &--center {
        text-align: center;
    }

    &--vertical-center {
        * {
            vertical-align: middle;
        }
    }

    &--line-height-0-5 {
        line-height: 0.5;
    }

    &--line-height-1-1 {
        line-height: 1.1;
    }

    &--line-height-1-2 {
        line-height: 1.2;
    }

    &--line-height-1-3 {
        line-height: 1.3;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-mark {
    color: $header;
    font-weight: 500;
}