$margin: 10 20 30 40 50 60 70 80 90;
.margin {
    @each $m in $margin {
        &-bottom {
            &--#{$m} {
                margin-bottom: #{$m}px !important;
            }
        }
    }

    @include media-breakpoint-down(md) {
        @each $m in $margin {
            &-bottom-md-down {
                &--#{$m} {
                    margin-bottom: #{$m}px !important;
                }
            }
        }
    }
}


.flex {
    &-row {
        display: flex;
        flex-flow: row nowrap;

        > * {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-column {
        display: flex;
        flex-flow: column nowrap;
    }

    &-inline {
        display: inline-flex;
    }

    &-center {
        justify-content: center;
    }

    &-space-between {
        justify-content: space-between;
    }

    &--items-center {
        align-items: center;
    }

    @include media-breakpoint-down(md) {
        &-row {
            flex-flow: column;

            > * {
                margin: 0 0 20px 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.hidden {
    display: none !important;
}