/*
  Colors
  */

// Background
$bg-primary: #1b599d;
$bg-neg: #fff;

// Text
$header: #0f1b41;
$header-neg: #fff;

$txt-primary: #fff;
$txt-primary-neg: #636363;

$txt-secondary: #c7e5f1;
$txt-secondary-neg: #959595;

$mark: #0198d0;

// Buttons
$button: #0198d0;
$button-hover: #f4a300;
$button-txt: #fff;

// Forms
$input-bg: #1b599d;
$input-bg-active: #15457f;
$input-color: #fff;
$input-placeholder-color: rgba(#c7e5f1, 0.5);
$input-border-color: #578899;
$input-border-color-active: #0198d0;
$input-error-border-color: #f66;
$input-error-color: #f66;

// Links
$link: #ff8300;

// Misc
$news-border-color: #0198d0;
$trailer-nav: #0f1b41;
$price: #0198d0;

/*
  Breakpoints
  */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);


/*
  Transitions
 */
$transition-time: 0.3s;


/*
  Gutters
 */
$gutter: 16px;

