<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FuturoCoin</title>
    <meta name="description" content="">

    <link rel="shortcut icon" type="image/png" href="./images/favicon.png">
    <link rel="stylesheet" href="./vendor/aos/aos.css">
    <link rel="stylesheet" href="./vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="./css/main.min.css?v={{ config.assetsVersion }}">
</head>
<body>
    {% include 'partials/header.njk' %}
    {% block content %}{% endblock %}
    {% include 'partials/footer.njk' %}
    <script src="./vendor/jquery-3.3.1.min.js"></script>
    <script src="./vendor/particles.js/particles.min.js"></script>
    <script src="./vendor/aos/aos.js"></script>
    <script src="./vendor/slick/slick.min.js"></script>
    <script src="./vendor/parsley.min.js"></script>
    <script src="./vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="./scripts/global.min.js?v={{ config.assetsVersion }}"></script>
    <!-- charts.js -->
    <script src="./vendor/moment.min.js"></script>
    <script src="./vendor/Chart.min.js"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>#}
    <script src="./scripts/charts.min.js?v={{ config.assetsVersion }}"></script>
</body>
</html>